/* Webfont: Monda-Regular */@font-face {
    font-family: 'Monda';
    src: url('Monda.eot'); /* IE9 Compat Modes */
    src: url('Monda.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Monda.woff') format('woff'), /* Modern Browsers */
         url('Monda.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

